{% extends "core/base.html" %}

{% block title %}
Owner Dashboard | TurfPay
{% endblock %}

{% block content %}

<section class="turf-list">

    <h1>Owner Dashboard</h1>

    <p>
        <a href="{% url 'add_turf' %}">
            Add Turf
        </a>
    </p>

    <p>
        <a href="{% url 'owner_bookings' %}">
            View Bookings
        </a>
    </p>

    {% for turf in turfs %}

        <div class="turf-card">

            <h2>{{ turf.name }}</h2>

            <p>{{ turf.location }}</p>

            <p>
                {{ turf.get_sport_type_display }}
            </p>

            <p>
                ₹{{ turf.price_per_hour }} / hour
            </p>

            <p>
                Slots: {{ turf.slots.count }}
            </p>

            <a href="{% url 'edit_turf' turf.id %}">
                Edit Turf
            </a>

            <br><br>

            <a href="{% url 'add_slot' turf.id %}">
                Add Slot
            </a>

            <br>

            <a href="{% url 'manage_slots' turf.id %}">
                Manage Slots
            </a>

        </div>

    {% empty %}

        <p>No turfs added yet.</p>

    {% endfor %}

</section>

{% endblock %}